{% extends "base.html" %}

{% block title %}{% endblock %}

{% block body %}

<main class="text-center w-100 m-auto">
  <div class="main-div col-sm-11 container">
    <div class="row col-lg-12 row-main mb-3 text-center">
      <div class="col-lg-8 col-sm-10 border-main main-table themed-grid-col">
        <div class="balance-information-text pb-3">Bilans z obecnego miesiąca</div>
        <div class="row">
          <div class="col-md-6 expenses-table border-main themed-grid-col">
            Wydatki
            <div>1</div>
            <div>2</div>
            <div>3</div>
          </div>
          <div class="col-md-6 incomes-table border-main themed-grid-col">
            Przychody
            <div>1</div>
            <div>2</div>
            <div>3</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 graph-holder themed-grid-col">
        <img class="chart-img" src="images/wykres.png" alt="" />
      </div>
    </div>
  </div>
</main>

{% endblock %}